#target folder

/OlvaERP-ejb/target/
/OlvaERP-Maestro-web/target/
/OlvaERP-ear/target/
/OlvaERP-Configuracion-web/target/
/OlvaERP-Recojo-web/target/
/OlvaERP-web/target/

/OlvaERP-apis/target/

/.idea
OlvaERP-ejb/nbproject/
OlvaERP-ear/OlvaERP-ear.iml
OlvaERP-ejb/OlvaERP-ejb.iml
#OlvaERP-ejb/src/main/resources/META-INF/persistence.xml
OlvaERP-Maestro-web/OlvaERP-Maestro-web.iml



#netbeans files

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
rebel.xml
.nb-gradle/
*.cfg
/target/
/TallerProyecto3/nbproject/